@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');

*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.header
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;  
  
}
.header .logo{
  position: relative;
  font-family: "Caveat";
  font-size: 28px;
  left: 650px;
}
.menu
{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-top: 55px;
    background-color: rgb(245, 245, 245);
    width: 100%;
    z-index: 2000;
    border-radius: 10px solid black;  
}

.menu a{
  line-height: 50px;
   height: 100%;
   font-size: 25px;
   display: inline-block;
   position: relative;
   z-index: 12;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   color: #111;
   cursor: pointer;
   transform: scale(1);
   transition: 0.3s;
   font-family: "Source Serif Pro";
   ;
}
.menu a:hover{
  transform: scale(1.2);
}

.menu .guitarProfi{
  width: 250px;
  left: 70px;
  text-decoration: none;
  color: rgb(238, 148, 148);
  cursor: pointer;
  font-size: 40px;
  font-family: "Dancing Script";
  z-index: 130;
}
.menu .link{
  width: 250px;
  text-align: center;
}
.menu .linkStrumming{
  width: 70px;
  text-align: center;
}
.topImage{
    position: absolute;
    margin-left: 145px;
    width: 85%;
    height: 500px;
    border: 5px solid lightgrey;
    box-shadow: 10px 10px 20px black;
}
.onImage{
    position: relative;
    margin-top: 200px;
}
.onImage .textOnImage{
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-family: "Source Serif Pro";
}
.linkList{
    max-width: 85%;
    position: relative;
    margin-top: 300px;
    left: 200px;
}
  .linkList .linkRed{
    width: 250px;
    left: 70px;
    text-decoration: none;
    color: #4a6da7;
    cursor: pointer;
    font-size: 40px;
    font-family: "Dancing Script";
    z-index: 130;
    transition: 0.3s;
}
  .linkList .linkRed:hover{
    letter-spacing: 2px;
}
.textOne{
  width: 40%;
  margin-left: 145px;
  text-align: center;
}
.textOne .topText{
color: #C47A7A;
  font-family: "Courier New";
  font-size: 36px;
  
}
.textOne .textContentOne{
    font-family: "Source Serif Pro";
    text-align: left;
    font-size: 30px;
}
.rightImage{
    position: absolute;
    margin-left: 1350px;
    margin-top: 500px;
    
    height: 1000px;
    border: 5px solid lightgrey;
    box-shadow: 10px 10px 20px black;
}